<a href="{{ .Permalink }}">
    <div class="summary border p-3">
        <h2 class="text-3xl">
            {{ .Title }}
        </h2>
        <p>{{ .Description }}</p>
		<a href="https://api.whatsapp.com/send?text=Hi%2c%20I%20am%20interested%20in%20%your%20{{ urlquery .Title }}%3a%0a%0a{{.Permalink | safeURL }}&phone={{ .Params.Phone }}"
        class="bg-tlgray-700 hover:opacity-80 hover:text-white relative block focus:outline-none text-md text-center">
        Reserve your {{ .Title }}
    </a>
    </div>
</a>